#container {
    margin: 0;
    display: flex;
    justify-content: center;  
}
.cabeça {
    height: 160px;
    width: 100px;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    border-bottom-left-radius:5%;
    border-bottom-right-radius: 5%;
    background-color: #a5c2d6;
    position: relative;
    left: 700px;
    top: 100px;
}
.boca {
    height: 30px;
    width: 80px;
    background-color: #eeedc0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: relative;
    left: 710px;
    top: -60px;
}
.pescoco {
    height: 0;
    width: 100px;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 50px solid #c4deeb;
    position: relative;
    left: 630px;
    top: -467px;
}
.torso {
    height: 0;
    width: 156px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 230px solid #a5c2d6;
    position: relative;
    left: 632px;
    top: 1px;
}
.porta {
    height: 0;
    width: 100px;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-top: 190px solid #c4deeb;
    position: relative;
    left: 680px;
    top: -205px;
}
.macaneta {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #a5c2d6;
    position: relative;
    left: 90px;
    top: -60px;
}
.olhoesq {
    height: 20px;
    width: 40px;
    border-radius: 0 0 100px 100px;
    background-color: #eeedc0;
    position: relative;
    left: 10px;
    top: 10px;
}
.olhodir {
    height: 20px;
    width: 40px;
    border-radius: 0 0 100px 100px;
    background-color: #eeedc0;
    position: relative;
    left: 70px;
    top: -10px;
}
.visor {
    height: 40px;
    width: 120px;
    background-color: #000;
    border: 5px solid #a5c2d6;
    border-radius: 37%;
    position: relative;
    left: 685px;
    top: -75px;
}
.pupilaesq {
    height: 12px;
    width: 12px;
    background-color: #000;
    border-radius: 50%;
    position: relative;
    left: 10px;
    top: 2px;
}
.pupiladir {
    height: 12px;
    width: 12px;
    background-color: #000;
    border-radius: 50%;
    position: relative;
    left: 10px;
    top: 2px;
}
.baseAntena {
    height: 10px;
    width: 35px;
    border-radius: 100px 100px 0 0;
    background-color: #a5c2d6;
    position: relative;
    left: 732px;
    top: -67px;
}
.caboAntena {
    height: 0;
    width: 11px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 40px solid #a5c2d6;
    position: relative;
    left: 737px;
    top: -115px;
}
.bolaAntena {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #a5c2d6;
    position: relative;
    left: 742px;
    top: -168px;
}
.bracodir {
    height: 200px;
    width: 200px;
    background-color: transparent;
    border-right: 20px solid #a5c2d6;
    border-top-right-radius: 100px;
    z-index: -1;
    position: relative;
    left: 683px;
    top: -690px;
}
.bracoesq {
    height: 200px;
    width: 200px;
    background-color: transparent;
    border-left: 20px solid #a5c2d6;
    border-top-left-radius: 100px;
    z-index: -1;
    position: relative;
    left: 597px;
    top: -490px;
}
.pernaesq {
    height: 200px;
    width: 200px;
    background-color: transparent;
    border-left: 24px solid #a5c2d6;
    border-top-left-radius: 60px;
    z-index: -1;
    position: relative;
    left: 680px;
    top: -725px
}
.pernadir {
    height: 200px;
    width: 200px;
    background-color: transparent;
    border-right: 24px solid #a5c2d6;
    border-top-right-radius: 60px;
    z-index: -1;
    position: relative;
    left: 600px;
    top: -925px;
}
.peesq {
    height: 35px;
    width: 70px;
    background-color: #a5c2d6;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    position: relative;
    left: 657px;
    top: -937px;
}
.pedir {
    height: 35px;
    width: 70px;
    background-color: #a5c2d6;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    position: relative;
    left: 777px;
    top: -972px;
}
.maoesq {
    border-bottom: 25px solid #a5c2d6;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	height: 0;
	width: 20px;
    position: relative;
    left: 575px;
    top: -700px;
}
.maodir {
    border-bottom: 25px solid #a5c2d6;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	height: 0;
	width: 20px;
    position: relative;
    left: 865px;
    top: -725px;
}
.dedoesq1 {
    height: 24px;
    width: 12px;
    background-color: #a5c2d6;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: relative;
    left: 575px;
    top: -1315px;
}
.dedoesq2 {
    height: 24px;
    width: 12px;
    background-color: #a5c2d6;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: relative;
    left: 600px;
    top: -1339px;
}
.dedoesq3 {
    height: 24px;
    width: 12px;
    background-color: #a5c2d6;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: relative;
    left: 623px;
    top: -1363px;
}
.dedodir1 {
    height: 24px;
    width: 12px;
    background-color: #a5c2d6;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: relative;
    left: 866px;
    top: -1387px;
}
.dedodir2 {
    height: 24px;
    width: 12px;
    background-color: #a5c2d6;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: relative;
    left: 889px;
    top: -1411px;
}
.dedodir3 {
    height: 24px;
    width: 12px;
    background-color: #a5c2d6;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: relative;
    left: 912px;
    top: -1435px;
}
.ombrodir {
    width:100px;
    background-color: #a5c2d6;
    padding: 30px;
    clip-path: polygon(63% 0%, 67% 50%, 59% 70%, 45% 60%);
    position: relative;
    left: 531px;
    top: -1448px;
}
.ombroesq {
    width:100px;
    background-color: #a5c2d6;
    padding: 30px;
    clip-path: polygon(37% 0%, 55% 60%, 41% 70%, 33% 50%);
    position: relative;
    left: 809px;
    top: -1388px;
}
.solaesq {
   height: 8px;
   width: 70px;
   background-color: #eeedc0;
   border-top-left-radius: 100px;
   border-top-right-radius: 100px;
   position: relative;
   left: 0;
   top: 30px;
}
.soladir {
    height: 8px;
    width: 70px;
    background-color: #eeedc0;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    position: relative;
    left: 0;
    top: 30px;
}
#Voltar {
    padding: 25px 35px;
    color: #fff;
    background-color: blue;
    border: 3px solid #000;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    margin-top: 0;
    position: absolute;
    right: 2vh;
    top: 2vh;
}